.info-container p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: white;
}
.info-container {
  background-image: linear-gradient(rgba(27, 37, 48, 0), #1b2530 48px);
  padding: 48px 24px 12px;
  position: absolute;
  pointer-events: none;
  opacity: 0;

  z-index: 1;
  transform: translateY(-230px);
  transition: opacity 1s;
}
.card {
  position: relative;
}
.album-card:hover .info-container {
  pointer-events: initial;
  opacity: 1;
}
.banner {
  height: 600px;
  object-fit: cover;
  background-repeat: no-repeat;
  background: url("banner.jpg") center;
}
.play_btn {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: red;
  position: relative;
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8.5px 0 8.5px 14px;
  border-color: transparent transparent transparent #007bff;
  position: absolute;
  top: 5px;
  left: 11px;
}
.song_info h5 {
  color: white;
}
